body{
    background-color: #0D1F2D;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

#hero{
    display: flex;
    justify-content: center;
    background-color: #FAE1DF;
    height: 20vh;
    overflow: hidden;
}

.td-off{
    display: none;
}

table{
    width: 50%;
}

td{
    width: 20px;
    text-align: center;
}